<div class="container" id="main">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">AngularTest</a>
        <button
          class="navbar-toggler hidden-lg-up"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false"
          aria-label="Toggle navigation"
        ></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav pl-4 mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="spacer"></div>
  <div class="container content">
    <div class="row">
      <form class="form-inline my-2 my-lg-0">
        <label for="search">Search Github Commits</label>
        <input
          id="search"
          class="form-control mr-sm-2"
          type="text"
          placeholder="Search"
        />
        <button
          (click)="getStuff()"
          type="button"
          name=""
          id=""
          class="btn btn-primary btn-lg btn-block mx-4 mt-4 mb-3 py-3"
        >
          Search
        </button>
      </form>
    </div>
    <hr />
    <div class="row px-4">
      <div class="row">
        <div *ngFor="let photo of result$ | async" class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">{{ photo.name }}</h3>
              <p>{{ photo.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
